@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '@mantine/core/styles.css'; */
/* Add this to ensure the modal or section takes the full available space */
.no-scroll {
  overflow-y: auto;
  max-height: none; /* Ensure content is fully shown */
}

/* Ensure text areas expand with content */
textarea {
  height: auto;
  min-height: 100px;
  width: 100%;
}

@media print {
    .no-print {
        display: none;
    }
}

.watermarked {
    background-image: url("/path-to-watermark-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    position: relative;
    padding: 2rem;
}

.watermarked::before {
    content: "TOPSTRAT";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 100px;
    color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    white-space: nowrap;
    font-style: oblique;
}
